.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination-button:hover {
    background-color: #0056b3;
  }
  .underline-animation {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .underline-animation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
  }
  
  .underline-animation:hover::after {
    transform: scaleX(0); 
    transform-origin: bottom right;
  }
  .uderline-animation {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .uderline-animation::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
  }
  
  .uderline-animation:hover::after {
    transform: scaleX(0); 
    transform-origin: bottom right;
  }
  